<main>
    <section class="intro">
        <div class="desc" >
            <h1>Wojciech Wawrzyniec Wilhelm</h1>
            <h2>Front-end Developer</h2>

        </div>
        <figure class='img'>
            <img src="assets/images/iconAngular2.svg" alt="">
        </figure>
    </section>



    <section class="past">
        <h1>My story</h1>
        <div id="timeline-content">
            
            <ul class="timeline">
              <li class="event" data-date="2017">
                <h3>Start of the journey</h3>
                <p>Decided to go for extended programming classes in high school,  <strong>C++ as my first language.</strong> </p>
              </li>
              <li class="event" data-date="">
                <h3>Deeper and deeper</h3>
                <p>Each step of the way, computer science stuff becomes more and more interesting. </p>
                <p>With my friends, we pick up books on the matter, start using acquired knowledge to excell in our classes.</p>    
              </li>
              <li class="event" id="date" data-date="2018">
                <h3>First love</h3>
                <p> <strong>Python. We just discovered Python.</strong> Everyting seems so easy now. We are able to visualize our results. Each of us takes now different path in his journey. </p> 
                <p>I start learning python by doing two Udemy courses on the matter, one specifficaly for python functions and algorithm-making, second on computer science, data visualization and logic behind statistics. </p>   
                <a href="https://www.udemy.com/course/pythonbootcamp/" target="_blank">The Complete Python Programming Bootcamp</a> <a href="https://www.udemy.com/course/machinelearning/" target="_blank">Machine Learning A-Z™</a>
              </li>
              
              <li class="event" data-date="">
                
                <h3>First HTML</h3>
                
                <p><strong>First classes on HTML and CSS since junior high school.</strong>  Javascript seems scary so we copy all the functions from StackOverflow (obviously).</p>
                <p>Doing websites for class was something I'd never expect to be so enjoyable. Spending all day perfecting your website with help of <strong>W3Schools and MDN</strong>, and still not meeting your own expectations.
                <!--
                    <p><strong>Our success can be measured by lives and brands enhanced by 9+ years of 100% Squarespace-focused service!</strong></p>
                    
                    <p><a href="https://www.squareflair.com">squareflair.com</a></p>                    
                -->

              </li>
              <li class="event" id="date" data-date="2019">
                <h3>Touching Javascript</h3>
                <p> It just happened that <strong>Motorola </strong> organized project which was supposed to teach high schoolers to use javascript in modern web applications. </p> 
                <p>I've attended this course, but given thier limitations in time and resources it didn't motivate me and my friends to leave our beloved python. Still, it made me familiar with many ES2016 concepts and extended my worldview. </p>  
                <p>It also gave me <strong>JS Certificate</strong>  BUT 1. I don't think it really meant that much 2. I lost it, so it's only my word I had it.</p> 

              </li>
              <li class="event" id="date" data-date="">
                <h3>Finals</h3>
                <p> They didn't go as well as I'd have hoped. I was <strong>very intrested in physics</strong> , far more than in maths so I figured I'd focus on extended physics final test rather than maths. </p> 
                <p>Grave mistake. While I was able to do example physics tests up to 5 years back with 85% accuracy and scoring high in my physics class, this year's final was much harded than I'd have imagined, while math was easiest in years (objectivly) </p>  
                <p>Because of that I have chosen Economics as my field of study in College</p>


              </li>
              <li class="event" id="date" data-date="">
                <h3>College</h3>
                <p>It didn't take long for me to realize that while I'd make a great economist, my potential would be much better spent on studying computer science. </p> 
                <p>I didn't give up immidiately, quite the opposite, I've learned much from my classes, and one of the most important things you should be taught is that <strong>"time is the greatest investment you can make"</strong> </p>
                <p>On first day we're reminded that college is an investment of our time and resources which we can't get back. Not to scare us away, but rather make us think about what we're really doing with our time</p>
                <p> <strong>So I listined, and picked up Web Development every free moment I had while not studying on tests and classes</strong> </p>


              </li>
              <li class="event" id="date" data-date="">
                <h3>Real work begins</h3>
                <p> First I need a plan. What do I do? I am not CS student (yet), which I could be even with my final scores, if i went only for paper and not knowledge, but I had other ideas</p> 
                <p>So i've found a plan, it was a <strong>Javascript Developer Roadmap 2019</strong> , and I've begun to follow it throughly</p>  
                <a href="https://hackernoon.com/the-2019-web-developer-roadmap-ab89ac3c380e" target="_blank">Javascript Developer Roadmap 2019</a>


              </li>
              <li class="event" id="date" data-date="">
                <h3>HTML/CSS Re-learning</h3>
                <p> Few courses on youtube, one from <strong>Udemy(Creative HTML/CSS), some FreeCodeBootcamp</strong>  and 'Check', now I go for JS</p> 
                <a href="https://www.udemy.com/course/the-creative-html5-css3-course-build-awesome-websites/" target="_blank">The Creative HTML5 & CSS3 Course</a>
                


              </li>
              <li class="event" id="date" data-date="">
                <h3>JS Skills</h3>
                <p>I never understood JS for real, until I've 'acquired' <strong>The Complete JavaScript Course 2019: Build Real Projects!</strong> , which was pretty eye-opening and really made me feel skilled in JS. Boundle that with another youtube course, many vieos and few websites to test that knowledge and I can go to the next step.</p> 
                <a href="https://www.udemy.com/course/the-complete-javascript-course/" target="_blank">The Complete JavaScript Course 2019</a>


              </li>
              <li class="event" id="date" data-date="2020">
                <h3>Angular</h3>
                <p>Finally, a framework. While it's true you can do everything basically with pure JS and HTML, it is much more efficient to just get yourself a framework, get to know all secrets and possibilities.</p> 
                <p>I chose <strong>Angular</strong>  BECAUSE of it's steep learning curve, since I like the challange. I very much enjoy it's component structure, routing, services, options to have onView or afterView functions etc.</p>
                <p>I debated going for much more popular React or upcoming Vue, but decided I'd pick up React if really needed by a company or if I felt like Angular was not doing it's job; and Vue I've heard it's not that bad going to from Angular, so there's that.</p>
                <p>With the power of Udemy, <strong>'The Complete Angular Course: Beginner to Advanced'</strong>  opened the way.</p>
                <a href="https://www.udemy.com/course/the-complete-angular-master-class/" target="_blank">The Complete Angular Course: Beginner to Advanced</a>

              </li>
              <li class="event" id="date" data-date="">
                <h3>HTML Canvas</h3>
                <p>Honestly <strong>HTML Canvas</strong>  is one of the best features in web(along with WebGL). At beggining scary as every new thing is, but with practise and examples of the potential it quickly became one of my favourite tools.</p> 
                <p>It is the tool I use in conjunction with already knowing python and some maths and statistics. Usually I sit down (often with my CS friends from high school), we work out <strong>specific algorithm in python, which I later rewrite into JS and visualize into canvas</strong> </p>
                <p>Being pretty good at canvas, I've set my eyes to go for dimension higher, 3d canvas with Three.js but that's still work in progress</p>

              </li>
              <li class="event" id="date" data-date="">
                <h3>Some backend</h3>
                <p>Combining curiosity with Angular I nearly completed <strong>MEAN guide</strong>  from Udemy</p> 
                <p>Not even near being a Full Stack, new Angular functions with introduction to RxJS are sure welcome</p>
                <a href="https://www.udemy.com/course/angular-2-and-nodejs-the-practical-guide/" target="_blank">The MEAN Stack Guide</a>

              </li>

            </ul>
          </div>
    </section>
    <section class="present">
        <h1>Acquired skills</h1>
        <h2>Essential</h2>
        <div class="skills">
            <div class="skill">HTML</div>
            <div class="skill">CSS</div>
            <div class="skill">JS ES2016+</div>
            <div class="skill">Angular</div>
            <div class="skill">GitHub</div>
            <div class="skill">Python</div>
            <div class="skill">Responsive Design</div>
            
        </div>
        <h2>Additional</h2>
        <div class="skills">
            <div class="skill">C++</div>
            <div class="skill">HTML Canvas</div>
            <div class="skill">Webpack</div>
            <div class="skill">English C1</div>
            <div class="skill">Data science (Machine Learning)</div>
            <div class="skill">Basic Economics</div>

        </div>
        <h2>Currently learning</h2>
        <div class="skills">
            <div class="skill">MEAN</div>
            <div class="skill">WebGL/Three.js</div>
            <div class="skill">RxJS</div>
            <div class="skill">Sass</div>
            <div class="skill">Wordpress</div>


        </div>
        <div class="skills-desc">
            
        </div>
        
            <button [routerLink]='["/projects"]'>See projects</button>
       
        
    </section>
    <section class="future">
        <h1>Plans for future</h1>
        <div class="plan">
            <h2>Studies</h2>
            <p>I didn't give up college yet. I'll be changing my chosen specialization from Economics to Computer Science, be it in part-studies or regular</p>
        </div>
        <div class="plan">
            <h2>Web development</h2>
            <p>Of course each week or two I'll try to provide and build new working website. I won't stop honing my skills.</p>
            <p>Some of my current ideas include: <b>EventFinder, Death-timer, Chat-app, Quiz app, Fancy Drinks.</b> </p>
        </div>
        <div class="plan">
          <h2>100 days challange</h2>
          <p>The idea of challaging myself to a new level, challange many times done before by other developers, combined with including results on Instagram, CodePen and maybe this very website, it'd be nice to see how effective can I be really.</p>
        </div>



    </section>
</main>